<h1>{{user.username}}'s Dashboard</h1>

<h2>Your Reviews</h2>
{{#if reviews.length}}
    <ul>
        {{#each reviews}}
            <a href="/restaurants/results/{{this.restaurant.location_id}}"><li>{{this.restaurant.name}} - {{this.rating}}</li></a>
        {{/each}}
    </ul>
{{else}}
    <p>Write a review for it to appear here!</p>
{{/if}}

<h2>Recent Searches</h2>
{{#if searchHistory.length}}
    <ul>
        {{#each searchHistory}}
            <a href="/restaurants/results/{{this.location_id}}"><li>{{this.name}} in {{this.address}}</li></a>
        {{/each}}
    </ul>
{{else}}
    <p>No recent searches. Make one <a href="/">here</a>!</p>
{{/if}}