{{#extend 'main'}}

{{#content 'title'}}Restaurant Search Results{{/content}}

{{#content 'body'}}
  <h1>Restaurants in {{query.location}}</h1>
  {{#if restaurants.data.length}}
    <ul>
      {{#each restaurants.data}}
        <li>
          <h2>{{this.name}}</h2>
          <p>{{this.address}}</p>
          <p>Rating: {{this.rating}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No restaurants found for "{{query.location}}".</p>
  {{/if}}
{{/content}}

{{/extend}}
