<div class="container">
<h1 class="page-title">{{name}}</h1>
<p id="results-address">{{address}}</p>
<p><span class="details-span">Email:</span> {{email}}</p>
<p><span class="details-span">Phone:</span> {{phone}}</p>
<p><span class="details-span">Website:</span> <a href="{{website}}">{{website}}</a></p>
<p><span class="details-span">Price Level:</span> <span id="price-level">{{priceLevel}}</span></p>
<p><span class="details-span">Hours:</span> {{hours}}</p>

<h2 id="results-photos">Photos</h2>
<div id="photos-container">
    <div class="photos">
        {{#each photos}}
            <img src="{{this}}" alt="{{../name}}">
        {{/each}}
    </div>
</div>

<h2 id="results-reviews">Reviews</h2>
{{#if reviews.length}}
    <p id="average-rating"><span class="details-span">Average Rating:</span> {{averageRating}}</p>
    <ul>
        {{#each reviews}}
            <li>
                <p class="rating"><span class="reviews-user">{{this.user.username}}</span> - <span class="reviews-rating">{{this.rating}}</span></p>
                <p>{{this.review_text}}</p>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No reviews yet. Be the first to review!</p>
{{/if}}

<h2>Write a Review</h2>
<form action="/reviews" id="review-form" method="post">
    <input type="hidden" name="restaurant_id" value="{{restaurant_id}}">
    <div>
        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" min="1" max="10" required>
    </div>
    <div>
        <label for="review_text">Review:</label>
        <textarea id="review_text" name="review_text" required></textarea>
    </div>
    <button class="btn-shadow btn-center review-btn" type="submit">Submit Review</button>
</form>

<script src="/js/review.js"></script>