{{#if results.length}}
    <h1>Please select a Restaurant</h1>
    <form action="/restaurants/select" method="POST">
        <ul>
            {{#each results}}
                <li>
                    <a href="/restaurants/results/{{this.location_id}}">
                        <strong>{{this.name}}</strong> in {{this.address_obj.city}}, {{this.address_obj.state}}
                    </a>
                </li>
            {{/each}}
        </ul>
        <button type="submit">Continue</button>
    </form>
{{else}}
    <p>No results found. Please try another search.</p>
{{/if}}