{{#if results.length}}
    <h1 class="page-title">Please select a Restaurant</h1>
    <form id="select-form" action="/restaurants/select" method="POST">
        <ul>
            {{#each results}}
                <li class="select-results">
                    <a href="/restaurants/results/{{this.location_id}}">
                        <strong>{{this.name}}</strong> in {{this.address_obj.city}}, {{this.address_obj.state}}, at {{this.address_obj.street1}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </form>
{{else}}
    <p>No results found. Please try another search.</p>
{{/if}}